<main class="container">
	<div class="row">
		<div class="col">
			<form action="/login" method="post">
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="email" class="form-control" id="email" name="email" />
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" id="password" name="password" />
				</div>
				<div class="row">
					<div class="col">
						<div class="mb-3">
							<label for="totp_token" class="form-label">TOTP</label>
							<input
								type="text"
								class="form-control"
								id="totp_token"
								name="totp_token"
							/>
						</div>
					</div>
					<div class="col"></div>
				</div>
				<button type="submit" class="btn btn-primary">Login</button>
			</form>
		</div>
		<div class="col"></div>
	</div>
</main>

<script>
	document.querySelector('form').addEventListener('submit', async (e) => { e.preventDefault();
	const email = document.querySelector('#email').value; const password =
	document.querySelector('#password').value; const totp_token =
	document.querySelector('#totp_token').value; const response = await fetch('/login', { method:
	'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ email, password,
	totp_token }) }); // Redirect if response is redirected if (response.redirected && response.url)
	{ window.location = response.url; return; } // Display message const data = await
	response.json(); alert(data.message); return; });
</script>