<main class="container">
	<h1>Hello {{user_name}}, thank you for registering!</h1>
    <br>
    <br>
    <p>Go to your home page!</p>
    <form action="/" method="get">
        <button type="submit" class="btn btn-primary">To Homepage</button>
    </form>
</main>