<div class="container">
    <div class="row">
        <div class="col">
            <h2>Two-Factor Authentication for {{user_name}}</h2>
            <form action="/dashboard/totp" method="post">
				<div class="mb-3">
					<label for="totp_secret" class="form-label">Secret</label>
					<input
						type="text"
						class="form-control"
						id="totp_secret"
						name="totp_secret"
                        readonly
                        value="{{totp_secret}}"
					/>
				</div>
				<div class="row">
					<div class="col">
						<div class="mb-3">
							<label for="totp_token" class="form-label">TOTP Token</label>
							<input
								type="text"
								class="form-control"
								id="totp_token"
								name="totp_token"
							/>
						</div>
					</div>
					<div class="col"></div>
				</div>
				<button id="save_totp" type="submit" class="btn btn-primary">Save TOTP</button>
			</form>
			<button id="remove_totp" type="submit" class="btn btn-danger">Remove TOTP</button>
        </div>
        <div class="col">
			
			<div class="mb-3 mt-5">
				<label for="totp_link" class="form-label">TOTP Link</label>
				<textarea
					class="form-control"
					id="totp_link"
					name="totp_link"
					rows="3"
					readonly
				>{{totp_url}}</textarea>
			</div>
			<div id="qrcode"></div>
		</div>
    </div>
</div>

<script>
	document.querySelector('form').addEventListener('submit', async (e) => {
        e.preventDefault();
        const totp_secret = document.querySelector('#totp_secret').value;
        const totp_token = document.querySelector('#totp_token').value;
		
        const response = await fetch('/dashboard/totp', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ totp_secret, totp_token })
        });

		// Redirect if response is redirected
		if (response.redirected && response.url) {
			window.location = response.url;
			return;
		}

		// Display message
        const data = await response.json();
        alert(data.message);
        return;
    });

	document.querySelector('#remove_totp').addEventListener('click', async (e) => {
		const response = await fetch('/dashboard/totp', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ })
        });

		// Redirect if response is redirected
		if (response.redirected && response.url) {
			window.location = response.url;
			return;
		}

		// Display message
        const data = await response.json();
        alert(data.message);
        return;
	});
</script>

<script src="/static/qrcode.min.js"></script>

<script>
	const totp_link = document.querySelector('#totp_link').value;
	console.log(totp_link);
	new QRCode(document.getElementById("qrcode"), totp_link);
</script>